<div>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="file" (change)="previewImage($event.target.files)">
        </div>
    
        <!-- <div>
          <input type="file" (change)="previewMultiImage($event.target.files)">
        </div> -->
        
        <div *ngIf="imgURL !== ''">
          <p>Có hình ảnh</p> 
          <img [src]="imgURL" alt="#">
        </div>
    
        <!-- <div *ngIf="listImgURL !==  []">
          <p>Có list hình ảnh</p>
          <div *ngFor="let imgURL of listImgURL">
            <img [src]="imgURL" alt="#">
          </div> -->
          
        <!-- </div> -->
        
        <div>
          <input type="text" formControlName="username">
        </div>
        <div>
          <button type="submit">Đăng</button>
        </div>
      </form>
      <!-- <div *ngFor=" let user of listUser">
        <table>
          <tr>
            <th>ID</th>
            <th>USER NAME</th>
            <th>AVATAR</th>
          </tr>
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td><img [src]="'data:image/jpeg;base64,' + user.avatar.data" alt=""></td>
          </tr>
        </table>
      </div> -->
    </div>









    <div class="col-6">
      <h2>Create Collection Image</h2>
      <div>
        <form [formGroup]="CollectionImageForm" (ngSubmit)="onSubmitCollectionImage()">
          <div>
            <input type="text" formControlName="title">
          </div>
          <div>
            <input type="file" (change)="previewMultiImage($event.target.files)">
          </div>
          <div *ngIf="listImgURL !==  []">
            <p>Có list hình ảnh</p>
            <div *ngFor="let imgURL of listImgURL">
              <img [src]="imgURL" alt="#">
            </div>
            
          </div>
          
         
          <div>
            <button type="submit">Create Collection</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
 
  </div>
  
